+++
title = "fission翻译"
linkTitle = "fission翻译"

+++


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-pen" title="博客"  %}}

<a class="btn btn-primary" href="{{< relref "/blog" >}}">
  go <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="fission翻译"  %}}

<a class="btn btn-primary" href="{{< relref "/fission" >}}">
  go <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
{{% /blocks/feature %}}



{{% blocks/feature icon="fab fa-github" title="我的github"  %}}

<a class="btn btn-primary" href="https://github.com/postor" target="_blank">
  go <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}

