* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #dee2e6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* timelinecontainer around content */
.timelinecontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timelinecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #dee2e6;
  border: 4px solid #30638E;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the timelinecontainer to the left */
.left {
  left: 0;
}

/* Place the timelinecontainer to the right */
.right {
  left: 50%;
}

/* Add arrows to the left timelinecontainer (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #dee2e6;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #dee2e6;
}

/* Add arrows to the right timelinecontainer (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #dee2e6;
  border-width: 10px 10px 10px 0;
  border-color: transparent #dee2e6 transparent transparent;
}

/* Fix the circle for timelinecontainers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #dee2e6;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width timelinecontainers */
  .timelinecontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timelinecontainer::before {
    left: 60px;
    border: medium solid #dee2e6;
    border-width: 10px 10px 10px 0;
    border-color: transparent #dee2e6 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right timelinecontainers behave like the left ones */
  .right {
    left: 0%;
  }
}