/*

Add styles or override variables from the theme here.

*/

$primary: #637c90;
$secondary: #ae9253;

$light: #f4f4ea;
$dark: #3a333e;

$danger: #f44336;
$success: #53a065;
$warning: #d1902d;
$info: #3a333e;
