<!-- Giscus comments start -->
<div>
    <script src="https://giscus.app/client.js"
            data-repo="COBOL-ISRAEL/CI-home"
            data-repo-id="YOUR_REPO_ID_HERE"
            data-category="General"
            data-category-id="YOUR_CATEGORY_ID_HERE"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="he"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>
<!-- Giscus comments end -->

