<!-- Giscus comments start -->
<div>
    <script src="https://giscus.app/client.js"
            data-repo="Maakaf/maakaf_home"
            data-repo-id="R_kgDOOyyeNg"
            data-category="General"
            data-category-id="DIC_kwDOOyyeNs4CrwBe"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>
<!-- Giscus comments end -->

